<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="KairosEnrollEndpoint" value="https://api.kairos.com/enroll"/>
    <add key="AppId" value="fe96ef60"/>
    <add key="AppKey" value="e37a05bf688189d31801e0aff09932ae"/>
    <add key="GalleryName" value="TestGallery"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-FaceRecognition.Api-20180223124308.mdf;Initial Catalog=aspnet-FaceRecognition.Api-20180223124308;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>